# macOS
.DS_Store

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Expo
.expo/
.expo-shared/

# React Native
*.log

# Android
android/.gradle/
android/app/build/
android/build/
android/local.properties
android/.idea/
android/*.iml
android/.cxx/

# iOS
ios/build/
ios/Pods/

# IDE
.idea/
.vscode/

# Environment
.env
.env.*

# TypeScript
*.tsbuildinfo

# Bundle
*.jsbundle

# Misc
coverage/
dist/
build/

# Keystore
*.keystore
*.jks

# Temporary
tmp/
temp/